CampaignTrack/CampaignTrackMain/PushNotifications/App_WebReferences/Xero/XeroApiService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="XeroApiService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55997/XeroApiService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55997/XeroApiService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IXeroApiService_SyncContacts_InputMessage">
    <wsdl:part name="parameters" element="tns:SyncContacts" />
  </wsdl:message>
  <wsdl:message name="IXeroApiService_SyncContacts_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyncContactsResponse" />
  </wsdl:message>
  <wsdl:message name="IXeroApiService_SyncProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:SyncProducts" />
  </wsdl:message>
  <wsdl:message name="IXeroApiService_SyncProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyncProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IXeroApiService_SyncEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:SyncEmployees" />
  </wsdl:message>
  <wsdl:message name="IXeroApiService_SyncEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyncEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IXeroApiService_SyncUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:SyncUsers" />
  </wsdl:message>
  <wsdl:message name="IXeroApiService_SyncUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyncUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="IXeroApiService">
    <wsdl:operation name="SyncContacts">
      <wsdl:input wsaw:Action="http://tempuri.org/IXeroApiService/SyncContacts" message="tns:IXeroApiService_SyncContacts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IXeroApiService/SyncContactsResponse" message="tns:IXeroApiService_SyncContacts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SyncProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IXeroApiService/SyncProducts" message="tns:IXeroApiService_SyncProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IXeroApiService/SyncProductsResponse" message="tns:IXeroApiService_SyncProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SyncEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IXeroApiService/SyncEmployees" message="tns:IXeroApiService_SyncEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IXeroApiService/SyncEmployeesResponse" message="tns:IXeroApiService_SyncEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SyncUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IXeroApiService/SyncUsers" message="tns:IXeroApiService_SyncUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IXeroApiService/SyncUsersResponse" message="tns:IXeroApiService_SyncUsers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IXeroApiService" type="tns:IXeroApiService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SyncContacts">
      <soap:operation soapAction="http://tempuri.org/IXeroApiService/SyncContacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncProducts">
      <soap:operation soapAction="http://tempuri.org/IXeroApiService/SyncProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncEmployees">
      <soap:operation soapAction="http://tempuri.org/IXeroApiService/SyncEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncUsers">
      <soap:operation soapAction="http://tempuri.org/IXeroApiService/SyncUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="XeroApiService">
    <wsdl:port name="BasicHttpBinding_IXeroApiService" binding="tns:BasicHttpBinding_IXeroApiService">
      <soap:address location="http://localhost:55997/XeroApiService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>