CampaignTrack/CampaignTrackMain/MailGun/Service References/ServiceReference2/CTDPIService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CTDPIService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55605/CTDPIService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55605/CTDPIService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICTDPIService_ProcessMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessMessages" />
  </wsdl:message>
  <wsdl:message name="ICTDPIService_ProcessMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="ICTDPIService_DeletedMail_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletedMail" />
  </wsdl:message>
  <wsdl:message name="ICTDPIService_DeletedMail_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletedMailResponse" />
  </wsdl:message>
  <wsdl:message name="ICTDPIService_TestMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:TestMethod" />
  </wsdl:message>
  <wsdl:message name="ICTDPIService_TestMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestMethodResponse" />
  </wsdl:message>
  <wsdl:portType name="ICTDPIService">
    <wsdl:operation name="ProcessMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTDPIService/ProcessMessages" message="tns:ICTDPIService_ProcessMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTDPIService/ProcessMessagesResponse" message="tns:ICTDPIService_ProcessMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletedMail">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTDPIService/DeletedMail" message="tns:ICTDPIService_DeletedMail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTDPIService/DeletedMailResponse" message="tns:ICTDPIService_DeletedMail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestMethod">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTDPIService/TestMethod" message="tns:ICTDPIService_TestMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTDPIService/TestMethodResponse" message="tns:ICTDPIService_TestMethod_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICTDPIService" type="tns:ICTDPIService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessMessages">
      <soap:operation soapAction="http://tempuri.org/ICTDPIService/ProcessMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletedMail">
      <soap:operation soapAction="http://tempuri.org/ICTDPIService/DeletedMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestMethod">
      <soap:operation soapAction="http://tempuri.org/ICTDPIService/TestMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CTDPIService">
    <wsdl:port name="BasicHttpBinding_ICTDPIService" binding="tns:BasicHttpBinding_ICTDPIService">
      <soap:address location="http://localhost:55605/CTDPIService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>