OrderManagementSystem/OMS/OrderManagementSystem/OrderManagement.Web/Service References/ServiceReference1/GoogleNotificationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CheckCalendarEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="calendarId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCalendarEventsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SalesContact" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrderId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RequiredDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ColorId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserCalendar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reccurrenceRule" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isAllDay" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateEventResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserCalendar" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEventResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEventInstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserCalendar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEventInstanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEventInstanceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="End" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Organizer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserCalendar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sequence" type="xs:int" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reccurrenceRule" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isAllDay" type="xs:boolean" />
        <xs:element minOccurs="0" name="ColorId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEventResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEventInstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="End" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Organizer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserCalendar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sequence" type="xs:int" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reccurrenceRule" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isAllDay" type="xs:boolean" />
        <xs:element minOccurs="0" name="ColorId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEventInstanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEventInstanceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="End" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Organizer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destinationCalendar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserCalendar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sequence" type="xs:int" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reccurrenceRule" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isAllDay" type="xs:boolean" />
        <xs:element minOccurs="0" name="ColorId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MoveEventResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeCalendars">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeCalendarsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>