CampaignTrack/CampaignTrackMain/TestApplication/Service References/ServiceReference1/GoogleNotificationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55134/GoogleNotificationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:55134/GoogleNotificationService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:55134/GoogleNotificationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NotificationService" />
  <xs:element name="CheckAllCalendarEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAllCalendarEventsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCalendarEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="calendarId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCalendarEventsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SalesContact" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrderId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RequiredDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ColorId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserCalendar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reccurrenceRule" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isAllDay" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateEventResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserCalendar" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEventResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEventInstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserCalendar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEventInstanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEventInstanceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="End" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Organizer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserCalendar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sequence" type="xs:int" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reccurrenceRule" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isAllDay" type="xs:boolean" />
        <xs:element minOccurs="0" name="ColorId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEventResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEventInstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="End" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Organizer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserCalendar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sequence" type="xs:int" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reccurrenceRule" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isAllDay" type="xs:boolean" />
        <xs:element minOccurs="0" name="ColorId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEventInstanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEventInstanceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="End" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Organizer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destinationCalendar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserCalendar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sequence" type="xs:int" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reccurrenceRule" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isAllDay" type="xs:boolean" />
        <xs:element minOccurs="0" name="ColorId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MoveEventResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeCalendars">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeCalendarsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCalendarMovements">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="calendar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orgId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCalendarMovementsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGooglePushNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChannelId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ChannelToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ChannelExpiration" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ResourceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ResoourceURI" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ResourceState" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MessageNumber" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGooglePushNotificationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGooglePushNotificationWatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Org_Id" type="xs:int" />
        <xs:element minOccurs="0" name="OAuthId" type="xs:int" />
        <xs:element minOccurs="0" name="CalendarId" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ChannelId" type="q1:guid" />
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Expiration" type="xs:long" />
        <xs:element minOccurs="0" name="ResourceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ResourceURI" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGooglePushNotificationWatchResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelInformation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChannelInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetChannelInformationResult" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalendarInformation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalendarInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCalendarInformationResult" nillable="true" type="q3:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoordinates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoordinatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NotificationService" minOccurs="0" name="GetCoordinatesResult" nillable="true" type="q4:Coordinates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncGoogleCalendars">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncGoogleCalendarsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWildCardDomain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="website" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="port" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newDomain" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="websiteName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWildCardDomainResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>