CT_11Feb15/CampaignTrack/CampaignTrackMain/MailGun/Service References/ServiceReference1/CTDPIService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProcessMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recipient" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="htmlBody" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strippedHtml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageURL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strippedText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="attachments" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sentDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessMessagesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletedMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MailUid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletedMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletedMailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessFailedMessages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessFailedMessagesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestMethod">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestMethodResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>